{% extends "base.html" %}
{% load static %}

{% block title %}Home · {{ PROJECT_NAME }}{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'css_v2/pages/home.css' %}" />
{% endblock %}

{% block header %}
  {% include "components/demo/menu.html" %}
{% endblock %}

{% block content %}
  <div class="demo-home">
    {% include "components/hero_with_figure.html" with figure_img="assets/images/20251218_2113_image 1.png" bg_desktop="assets/images/figma-1-910e2421.png" bg_mobile="assets/images/fon_2.png" title_html="Ваш билборд умеет<br />принимать заказы 24/7?" subtitle_html="Превращаем наружную рекламу в автономный канал продаж с AI-ассистентами.<br />Сокращаем путь от интереса к заявке до 60 секунд" btn_primary_text="Рассчитать" btn_primary_action="home-calc-modal" btn_outline_text="Наши кейсы" btn_outline_href=CASES_URL title_id="home-hero-title" %}

  </div>

  {% include "components/demo/home_desktop_15.html" %}
  {% include "components/demo/home_desktop_16.html" %}
  {% include "components/demo/home_desktop_19.html" %}
  {% include "components/demo/home_ad.html" %}
  {% include "components/demo/home_desktop_20.html" %}
  {% include "components/demo/home_contact_us.html" %}
  {% include "components/demo/home_faq.html" %}

  {% include "components/demo/lead_success_modal.html" %}
{% endblock %}

{% block footer %}
  {% include "components/demo/footer.html" %}
{% endblock %}


