[Unit]
Description=gunicorn daemon (adsmart)
Requires=gunicorn-adsmart.socket
After=network.target gunicorn-adsmart.socket

[Service]
Type=notify
User=www-data
Group=www-data

WorkingDirectory=/var/www/ADSmart
EnvironmentFile=/var/www/ADSmart/.env

# venv: /var/www/ADSmart/venv
ExecStart=/var/www/ADSmart/venv/bin/gunicorn --config /var/www/ADSmart/deploy/gunicorn.conf.py

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target



